<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form>
            <!-- ng-model dfaz o biding de ida e volta bom para colocar em inputs-->
            <input ng-model="filtro" class="form-control" placeholder="Filtrar">
        </form>
    </div>
</div>

<div class="row">
    <!-- | filter : filtro  // filtra os dados do input -->
    <!-- ng-model-oprtions estabelece um delay para a atribuição da variável -->
    <meu-painel class="col-md-2 painel-animado" ng-model-options="{debounce: 750}" ng-repeat="foto in fotos | filter: filtro"
        titulo="{{foto.titulo}}">
        <img class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}">
    </meu-painel>
    <!-- Fim do Panel -->
</div>